
*.opendb
RogueLite/RogueLite.VC.db
RogueLite/RogueLite/Debug/RogueLite.Build.CppClean.log
RogueLite/RogueLite/Release/RogueLite.Build.CppClean.log
RogueLite/RogueLite/Release/RogueLite.tlog/CL.read.1.tlog
RogueLite/RogueLite/Release/RogueLite.log
